div#navigation
  div.nameplate
    h1 m
  div.posts 
    ul
      each post in posts
        li
          a.post(href = '/post/#{post.id}')
            div.date
              h2 #{post.day}
              h3 #{post.month}
            div.content
              h1 #{post.title}
              p #{post.snippet}
