div#navigation.transition
  div.posts 
    ul
      each post in posts
        li
          a.post(href = '/post/#{post.id}')
            div.date
              div.date-inner
                h2 #{post.day}
                h3 #{post.month}
            div.content
              div.content-inner
                h1 #{post.title}
                p #{post.snippet}
